*{
text-transform: capitalize;
font-size: 99%;
}
::selection{
  color:red;
  background: yellow;
}
:root {
  --main-bg-color: #0545c1cf;
  --btn-bg-color: #0545c1cf;
}

.lodotext{color:white;}

body{
  /* background: radial-gradient(blue, transparent); */
/* background-color: red; */
     background-color: white;
     justify-content: center;
}



.line{
  position: relative;
 }
 .line::after{
     content: "";
     position: absolute;
     background-color: white;
      top:100%;
      left: 0%;
      width: 0%;
      height:2px;
      transition: all 0.5s ease-in-out;
    
 }
 
 .line:hover:after {
     width:100%;
     
 
 }

.svgcover{    margin-top: -10%;}

.navbar-light .navbar-nav .nav-link {
  color: white; 
  transition: all 1s ease-in-out;
}

nav,.card-header{
  background-color: var(--main-bg-color);
    margin: 0;
    
   
}

/* dropdownmenu */


.mainnav{margin: 0 auto;}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown-menuwala{z-index: 99; position: absolute; width:50px; opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}

.mainnav li{float: left;padding: 5px;}
.mainnav li:first-child{border: none;}
.mainnav li a{ display: block;padding: 2% ;color:blue; text-transform: capitalize;}
.mainnav li:hover{transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
.mainnav li:hover a{color: maroon;transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}

.subs{position: relative;top: 0px;width: 175px;border-left: none !important; background-color: #fa8be7;}
.subs:last-child{border: none !important;}
.hassubs:hover .dropdown-menuwala,.hassubs .hassubs:hover .dropdown-menuwala{opacity: 1;visibility: visible; transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}

.mainnav li ul li:hover,.mainnav li ul li ul li:hover{transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{color: maroon;transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}

.hassubs .hassubs .dropdown-menuwala .subs{left: 25px;position: relative;top: 0px; background: rgb(248, 4, 126);}
.hassubs .hassubs .dropdown-menuwala{position: absolute;width:50px;left: 4px;top: 15px;opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}

  /* dropdown end */



  .navcover{
    /* background: #3468cd;
    margin-top: -1.5%; */
    margin-left: 12%;
    
}

.btn-sm{
    color: #b50697;
}

.parent{
  position: relative;
  overflow: hidden;
  align-items: center;
  
 
}
.text-content>a{color:white ;
 font-size: 1.3em;
 font-weight: bold;
}
.text-content{
  height:100%;
  width: 100%;
  position: absolute;
  right:0;
  bottom:-100%;
  /* padding: 5px; */
box-sizing: border-box;
transition: all 1s;
display: flex;
justify-content: center;
align-items: center;



}

.parent:hover .text-content{
  bottom: 0%;
  
}
.parent>img{transition: all 1s ease-in-out;}
.parent:hover .pimg{
transform: scale(1.3);
  
}

.abt_card{box-shadow: 1px 2px 14px 4px var(--main-bg-color);
    padding: 2%;
    /* line-height:26px; */
}

/* model ko css */
.details{
  margin-left:2%;
  color:black;
  font-weight: normal;
  text-transform: capitalize;
}
.modelkoul>li{
  color:var(--main-bg-color) ;
  font-weight: bold;
  /* list-style: none; */
}
.tcolor{
  color: var(--main-bg-color);;
}
.rang{
  width: 14px;
  height: 13px;
 display: inline-block;
  
}

.rang-red{background: red;}
.rang-green{background: green;}
.rang-black{background: black;}
.rang-grey{background: grey;}
.rang-white{background: whitesmoke;
border:1px solid black;}

.rang-other{background: radial-gradient(blue, transparent);
  background-color: red;}
.sizescontrol{
  border-bottom:1px solid var(--main-bg-color);
}
.catacontrol{border-bottom:1px solid var(--main-bg-color);
             padding-right:1%;
}








#postimg{
  display:none;
}
#labeforsetprofile,.bgg{
  cursor: pointer;

  background:radial-gradient(var(--main-bg-color), transparent);
 padding: 1%;
}
table thead{
  background-color:var(--main-bg-color);
  color:white;
}
table thead th{border:0 1px 0px 1px;}
#imgspan{
display: inline-block;


}
.text-capitalization {
  text-transform: capitalize;
}
.btn-gulabi{
  color: white;
  border:1px solid white;
  background: var(--main-bg-color);
}


/* tab  */
.tab{
  background: var(--main-bg-color);;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab>.btn-gulabi{
  border-radius: 0;
  border: 0.1px solid var(--main-bg-color);
}
/* Style the buttons inside the tab */
.tab button {
  background-color: var(--main-bg-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #02f42a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--main-bg-color);
  border-top: none;
}

.prakriya>li{
 margin:10%;
  background-color:#24021e;
  box-shadow: 1px 2px 14px 8px #5a044b;
}
.prakriya>li>p{
  padding-top:3%;
  color:white;
text-align: center;}


/*hovereffect on main page */
.text-content>a{color:white ;
 font-size: 1.3em;
 font-weight: bold;
}
.text-content{
  /* background-color: rgb(0, 0, 0,0.5); */
  background:radial-gradient(var(--main-bg-color), transparent);
   
  height:100%;
  width: 100%;
  position: absolute;
  right:0;
  bottom:-100%;
  /* padding: 5px; */
box-sizing: border-box;
transition: all 1s;
display: flex;
justify-content: center;
align-items: center;


}
.parent:hover .text-content{
  bottom: 0%;
  
}
.addproduct_shop_part{
  display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
}


.carousel-control-next-icon , .carousel-control-prev-icon{
   background:yellow;
   
}

.carousel-control-next,.carousel-control-prev {
 opacity: 1;
}

.slowfill{
  position: relative;
  font-weight: bolder;
  cursor: pointer;
 

}
.slowfill:before{
  
  content: "Digital_Bazar";
  position:absolute;
  /* top:0; */
  left: 0;
  width: 0%;
   color: red;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
.slowfill:hover:before{
   
  width: 100%;
}


@media screen and (min-width:758px){

  .addproduct_shop_part{
    display: block;
width: 100%;
     
   
}
.addproduct_shop_part>img{width:100%;}
}

kbd{
  background-color: #a3a307;
}
/* .graphcover{background: radial-gradient(#7e7efa, transparent);} */

/* 770px */
@media screen and (max-width:770px){
  table thead th small {padding:0;margin:0;}

  .navcover{
   
    margin-left: 0%;
    
}

  .table th {padding: 0px;}
  table thead th small {
   font-size:66%;
   padding: 0;
   margin:0;
  }



}
/* ========================== */
@media screen and (max-width:576px){
  .model {width:58% !important;}
  .modal-content {width:60%;}
  .listtable{
    display: block;
    width: 100%;
    overflow-x: auto;
  }
 
 }

/* ================ */
@media screen and (max-width:997px){
  table th, .table td {
    padding: 0px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
}